* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #212121;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 1200px;
}

header {
  padding: 15px 24px;
  display: flex;
  align-items: center;
}

footer {
  background-color: #212121;

  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

h1 {
  font-size: 42px;
  line-height: 52px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

hr {
  height: 2px;
  background-color: #f6f7f8;
  border: none;
}

.faded-p {
  color: #707070;
  max-width: 900px;
}

.smaller-p-footer {
  font-size: 14px;
  line-height: 20px;
  color: #c5c4c4;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  margin-right: 40px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.city-dropdown {
  width: 255px;
  padding-left: 17px;
}

.search {
  width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-right: 1px solid #d9d9d9;
}

.search-input {
  font-size: 16px;
  margin-left: 5px;
  outline: none;
  border: none;
  background: transparent;
}
.search-input::placeholder {
  color: #707070;
}

.search-button {
  background-color: #f65858;
  width: 42px;
  height: 42px;
  border-radius: 0 8px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f65858;
}

.langauge-change {
  display: flex;
  align-items: center;
  gap: 4px;
}

.right-side-header {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: end;
  margin-left: auto;
}

.sign-in-button {
  height: 36px;
  width: 83px;
  border: none;
  border-radius: 8px;
  background-color: #00798a;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
}

.log-in-button {
  height: 36px;
  width: 83px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 14px;
}

.join-button {
  height: 40px;
  width: 125px;
  border: none;
  border-radius: 8px;
  background-color: #00798a;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
}

.language-element {
  font-size: 14px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.main-txt {
  width: 600px;
  line-height: 52px;
}
.main-p {
  width: 600px;
  line-height: 24px;
}

.first-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.first-block-wrapper {
  display: flex;
  max-width: 1200px;
  margin-top: 70px;
  margin-bottom: 100px;
  gap: 45px;
}

.events-search {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.events-search-alt {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 15px;
}

.events-button {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgba(151, 202, 209, 0.12);
  padding: 0 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.events-txt {
  color: #00798a;
}

.see-all-events-btn {
  margin-left: auto;
}

.see-all-events-btn-txt {
  color: #00798a;
  font-weight: 500;
}

.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.card-bottom-o {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-date-time {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-topic-txt {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  padding: 5px 0;
}

.card-date-txt {
  font-size: 14px;
  letter-spacing: -0.35px;
}

.cards-wrapper {
  max-width: 1200px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 90px 0;
  margin-bottom: 100px;
}

.events-upcoming {
  display: flex;
  align-items: center;
}

.cards-wrapper-online {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.meetup-content-wrapper {
  width: 1200px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.join-meetup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  gap: 70px;
}

.meetup-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sign-up-button {
  height: 40px;
  width: 190px;
  border: none;
  border-radius: 8px;
  background-color: #e32359;
  color: #ffffff;
  font-size: inherit;
}

.card-cat {
  width: 135px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 5px;
}

.categories-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cities-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.how-works {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  border-radius: 8px;
}

.how-works-block {
  width: 580px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
  display: flex;
  gap: 25px;
  padding: 35px 25px;
}

.how-works-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.how-works-content {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.friendships-block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.friendship-card {
  max-width: 376px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-content-text {
  color: #f6f7f8;
}

.footer-content {
  width: 1120px;
  padding: 20px 0;
}

.footer-content-top {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.get-started-button {
  font-size: inherit;
  background-color: #212121;
  color: #f6f7f8;
  border: 2px solid #f6f7f8;
  border-radius: 8px;
  padding: 10px 15px;
}

.footer-content-main {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-content-main-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials-svg-wrapper {
  display: flex;
  gap: 30px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.marketplace {
  display: flex;
  gap: 30px;
}

.footer-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-content-bottom-wrapper {
  display: flex;
  gap: 30px;
}
