.dropdown {
  position: relative;
  margin: 0;
}

.dropdown * {
  box-sizing: border-box;
}

.selected {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select {
  display: flex;
  align-items: center;
  height: 2.5rem;
  background: #f6f7f8;
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border: 1px solid black;
  border: 0.5rem;
  border-radius: 40px;
  padding: 0 1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.caret {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  transition: transform 0.3s ease;
}

.caret-rotate {
  transform: rotate(-180deg);
}

.selected-clicked {
  border: 1px solid black;
  box-shadow: 0 0 0.8rem black;
}

.select:hover {
  background: #d1d1d1;
}

.menu {
  list-style: none;
  padding: 0.2rem 0.5rem;
  background: #f6f7f8;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 3rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  z-index: 1;
}

.menu li {
  padding: 0.7rem 0.5rem;
  margin: 0.3rem 0;
  border-radius: 6px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #ff8faf;
  color: white;
}

.active {
  background-color: var(--bright-accent-color);
  color: white;
}

.menu-open {
  background: #f6f7f8;
  display: block;
  opacity: 1;
}

.dropdowns-wrapper {
  display: flex;
  align-items: start;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.top {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.top p {
  font-size: 20px;
  text-decoration: 3px underline;
}

.top-wrapper {
  display: flex;
  width: 90%;
  gap: 1rem;
  justify-content: space-between;
}

.cards-wrapper-sort {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 1rem;
  margin-bottom: 8.75rem;
  align-self: center;
}

.card-sort {
  max-width: 100%;
  display: flex;
  gap: 1rem;
}

.card-bottom-sort {
  margin-top: 2rem;
}

.card-img-sort {
  max-width: 160px;
}

.card-date-txt-sort {
  font-size: 14px;
  color: #7c6f50;
  text-transform: uppercase;
}

.card-heading-txt-sort {
  font-size: 1rem;
}

.card-topic-txt-sort {
  font-size: 0.85rem;
  color: #707070;
}

.hr-and-card-wrapper-sort {
  width: 100%;
}

.hr-sort {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  border-top: 1px #d9d9d9 solid;
}

.all-card-sort {
  display: flex;
  gap: 1rem;
}

.both-sides-wrapper {
  width: min(90%, var(--main-width));
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 8.75rem;
}

.left-side {
  display: grid;
  align-items: center;
  width: 100%;
}

.right-side {
  margin-left: auto;
  text-align: end;
}

.right-side p {
  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .both-sides-wrapper {
    width: 100%;
    margin-top: 8rem;
    padding-inline: 1rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .top-wrapper {
    width: 100%;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top {
    gap: 1rem;
  }
  .selected {
    font-size: 14px;
  }
  .menu {
    font-size: 14px;
  }
  .all-card-sort {
    gap: 0.5rem;
  }
  .cards-wrapper-sort {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
    margin-bottom: 5rem;
  }
  .card-content-sort {
    gap: 2px;
    display: flex;
    flex-direction: column;
  }
  .dropdowns-wrapper {
    width: 100%;
    margin-bottom: 2rem;
  }
  .card-date-txt-sort {
    font-size: 9px;
    line-height: 12px;
  }
  .card-topic-txt-sort {
    font-size: 9px;
    line-height: 12px;
    margin-top: 0;
  }
  .card-heading-txt-sort {
    font-size: 12px;
    line-height: 16px;
  }
  .card-bottom-sort {
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .both-sides-wrapper {
    grid-template-columns: 0;
    grid-template-rows: 1fr;
  }
  .right-side {
    display: none;
  }
}

@media (max-width: 1024) {
  .both-sides-wrapper {
    grid-template-columns: 1.5fr 1fr;
  }
}
