.cards-wrapper-m {
  width: min(90%, var(--main-width));
  margin-bottom: 8.75rem;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5.5rem 1rem;
}

.all-card-m {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-content-m {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-img-m {
  width: 100%;
}

.card-date-time-m-desk {
  display: flex;
  gap: 6px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.card-date-time-m {
  display: none;
}

.card-bottom-m {
  display: flex;
  gap: 1rem;
}

.card-going {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 6px;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 6px;
}
.card-svg {
  height: 100%;
}

@media (max-width: 480px) {
  .cards-wrapper-m {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
    margin-bottom: 5rem;
  }

  .all-card-m {
    flex-direction: row;
  }

  .card-date-time-m-desk {
    display: none;
  }

  .card-m {
    max-width: 100%;
    display: flex;
    gap: 1rem;
  }

  .card-img-m {
    width: 160px;
  }

  .card-date-time-m {
    align-items: center;
    display: flex;
  }

  .card-date-txt-m {
    font-size: 9px;
    color: #7c6f50;
    text-transform: uppercase;
    line-height: 12px;
  }

  .card-heading-txt-m {
    font-size: 12px;
    line-height: 18px;
  }

  .card-topic-txt-m {
    font-size: 9px;
    margin-top: 1rem;
    color: #707070;
  }

  .hr-and-card-wrapper-m {
    width: 100%;
  }

  .hr-m {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-top: 1px #d9d9d9 solid;
  }

  .card-content-m {
    gap: 2px;
  }
}
